APP_NAME=FastURL
APP_COMPANY=FastURL
APP_VERSION=1.0.0
APP_BASE_URL=http://127.0.0.1:8000

DB_NAME=shortener_db
DB_USER=shortener_admin
DB_PASSWORD=change_me
DB_PORT=5432
DB_URL=postgresql+asyncpg://shortener_admin:change_me@db:5432/shortener_db

OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.2:3b

URL_EXPIRATION_DAYS=7a
